@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Jetbrains mono";
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
  body{
    background-color: #1c1c22;
    color: white;
    line-height: 2;
  }
}
@keyframes floating {
  0%, 100% {
    transform: translateY(-55px);
  }
  50% {
    transform: translateY(30px) translateX(10px);
  }
}

.animate-floating {
  animation: floating 15s linear infinite;
}
